.theme-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.theme-button {
  padding: 0.75rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  background-color: var(--bg-card-light);
  backdrop-filter: blur(8px);
}

.light-theme .theme-button {
  background-color: var(--bg-card-light);
  color: var(--text-color-light);
}

.dark-theme .theme-button {
  background-color: var(--bg-card-dark);
  color: var(--text-color-dark);
}

.theme-button:hover {
  background-color: var(--hover-color-light);
}

.dark-theme .theme-button:hover {
  background-color: var(--hover-color-dark);
}